<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>アンケートフォーム</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
  <a href="/answers">結果一覧</a>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-triangle-right"></span>
        </div>
        <div class="panel-body">
          <form action="/answers" method="post">
            <div class="form-group">
              <label for="name">名前(必須)<br>
              <input type="text" name="name" id="name" placeholder="ここに名前を入力" required>
            </div>
            <div class="form-group">
              <label for="age">年齢<br>
              <input type="number" name="age" id="age" placeholder="ここに年齢を入力">
            </div>

            <div class="form-group">
              学年<br>
              <select name="grade">
                <option value="中１">中学１年</option>
                <option value="中２">中学２年</option>
                <option value="中３">中学３年</option>
                <option value="高１">高校１年</option>
                <option value="高２">高校２年</option>
                <option value="高３">高校３年</option>
              </select>
            </div>

            <div class="form-group">
              性別<br>
              <input type="radio" name="gender" value="man" checked>男
              <input type="radio" name="gender" value="woman">女
            </div>
            <div class="form-group">
              メールアドレス(必須)<br>
              <input type="email" name="email" placeholder="ここにメールアドレスを入力" required>
            </div>
            <div class="form-group">
              日付<br>
              <input type="date" name="date">
            </div>

            <div class="form-group">
              パスワード(必須)<br>
              <input type="password" name="password" maxlength="10" minlength="6" placeholder="パスワードを入力" required><br>
            </div>

            <div class="form-group">
              感想・質問・その他<br>
              <textarea name="content" rows="4" cols="40" placeholder="sその他感想や質問はこちら">
              </textarea>
            </div>

            <input type="submit" class="btn btn-primary pull-left"></input>
            <input type="reset" class="btn btn-warning pull-left"></input>
          </form>


        </div>
      </div>
    </div>
  </div>
</body>
</html>
